
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 300px;
}

a{
    text-decoration: none;
}

/* ==== Navbar ==== */
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 2400px;
    margin: auto;
    z-index: 9;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    text-align: center;
    -webkit-box-align: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Navbar setelah di-scroll */
.navbar.scrolled {
    background-color: #fff;
    color: black;
    box-shadow: 100px 28px 41px rgba(0, 0, 0, 0.1);
}

.navbar-brand{
    color: white;
    font-size: 1.7rem;
}

.navbar-brand strong{
    color: #fff;
    font-size: 1.7rem;    
}

.navbar.scrolled .navbar-brand{
    color: #da3d35;
    font-size: 1.7rem;
    transition: all 0.5s ease-in-out;
}

.navbar.scrolled .navbar-brand strong{
    color: #274094;
    font-size: 1.7rem;
    transition: all 0.5s ease-in-out;
}

.navbar-nav{
    align-items: center;
    list-style: none;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    font-size: 17px;
}
/* Link */
.nav-link{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* Link Button Detikcom */
.detik-link strong{
    color: #2c4596;
}
.detik-link{
    color: #da3d35;
}

.login-link{
    visibility: hidden;
}

.btn-login{
    color: white;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    align-items: center;
    justify-content: center;
}

/* Setelah di Scroll */
.navbar.scrolled .nav-link{
    color: black;
}

.navbar.scrolled .btn-login{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}

/* === END NAVBAR === */


/* === Header Page */

/* Video Background */
.video-background-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}

/* Overlay for content */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    text-align: center;
}

.video-overlay .content {
    max-width: 800px;
    padding: 20px;
}

.content h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5rem;
    padding-bottom: 20px;
}

.content p{
    font-size: 1.4rem;
    width: 100%;
}

.btn-seejobs{
    text-decoration: none;
    color: blue;
    background-color: #fcb711;
    padding: 7px 12px;
    text-align: center;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 0 0 #ccc;
}
/* === Header === */

/* === Section === */

/* Introducing Section */
.introducing-section {
    background-color: white; 
    padding-top: 45px;
    padding-bottom: 50px;
}

.introducing-section h2 {
    font-size:  2.7rem;
    font-size: 600;
    padding-top: 10px;
    color: #274094;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.introducing-content{
    margin: auto;
    width: 75%;
}

.introducing-content h3{
    color: #274094;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 30px;
}

.introducing-content p{
    font-size: 16px;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.introducing-content .row1{
    padding-top: 25px;
}

.introducing-content .row2{
    padding-top: 25px;
}

.logo-detik{
    display: flex;
    text-align: right;
    justify-content: right;
    padding-top: 20px;
}

/* === End Section === */



/* === Carousel Section === */

.carousel {
    padding-top: 100px;
    padding-bottom: 70px;
}

.carousel-title h2 {
    font-size:  2.8rem;
    font-size: 600;
    color: #274094;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
 
}

.carousel-inner{
    height: 750px;
}

.carousel-control-prev, .carousel-control-next {
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: absolute;
    top: 55%; 
    transform: translateY(-50%); 
    z-index: 1;
    
}

.carousel-control-prev {
    left: 10px; 
}

.carousel-control-next {
    right: 10px; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 50%; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 30px; 
    height: 30px; 
    
}

.carousel-control-next i {
    font-size: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.carousel-control-prev i {
    font-size: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.carousel-indicators {
    position: absolute;
    left: 50%;
    transform: translateX(-120%);
    background-color: transparent;
}

.carousel-indicators .isi button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    transition: background-color 0.3s ease;
    background-color: black;
}

.carousel-indicators .isi .active {
    background-color: #274094;
}
/* === End Carousel Section === */


/* JOB SECTION */

.job-section{
    background-color: white; 
    color: #333;
    max-width: 100%;
    width: 100%;
    padding: 50px 130px;
}

.job-title h2{
    font-size:  2.7rem;
    font-size: 600;
    padding-top: 10px;
    color: #274094;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.content-header {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 40% 25% 25% 7%;
}

.content-header input[type="text"] {
    padding: 0 10px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 100%;
    height: 45px;
}
  
.select-job {
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    position: relative;
}
  
.select-joblevel {
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    position: relative;
}
  
.btn-jobsearch {
    background-color: #FFD700;
    color: #000;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    height: 45px;
    width: 75px;
    margin: 0;
    font-size: 14px;
}

.job-content{
    width: 100%;
    padding: 50px 10px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.table{
    width: 100%;
    color: #000;
 
}

.table tr,
.table th,
.table td {
    border-bottom: none;
}


.table {
    border-collapse: collapse;
}

.table th,
.table td {
    border: none; 
}

table .list-job{ 
    display: flex;
    align-items: center; 
    height: 100%; 
    
}

.list-job-title a{
    top: 0;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    text-decoration: none; 
    color: inherit; 
}

table .list-job .list-job-title{
    /* background-color: #ccc; */
    width: 41.5%;
    
}

.list-job td{
    width: 28.9%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    height: 100%; 
    padding: 17.1px;
}

.list-job-title i {
    float: right;

    font-size: 1.2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 7px 12px;
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0s, opacity 0.2s linear;
}

table .list-job:hover{
    border: 1px solid black;
    transition: all 0.s ease-in-out;
    box-shadow: 
    .9px 1px 0 0 #333, 
    1.5px 0px 0 0 #444, 
    7.5px 8px 0 0 #aaa, 
    8.5px 9px 0 0 #bbb, 
    9.5px 10px 0 0 #ccc; 
}

table .list-job .list-job-title:hover{
    transition: all 0.1s ease-in-out;
    color: white;

}

.list-job:hover .list-job-title i {
    visibility: visible; 
    opacity: 1; 
    color: white;
    font-size: 34px;
}
/*  */


/* Footer */

.footer {
    background-color: white;
    padding: 0px 150px;
    padding-bottom: 50px;
  }
  
  .socialmedia-footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  .socialmedia-footer .social-icons {
    color: #007bff;
    display: inline-block;
    margin: 0 5px;
    font-size: 25px;
  }
  
  .social-icons i:hover {
    color: #da3d35;
  }
  
  .detikcom {
    font-size: 24px;
    font-weight: bold;
    color: #274094;
  }
  
  .detikcom span {
    color: #da3d35;
  }

  .footer p{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    
  }

  .footer p a{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display:inline;
    margin: 0px 5px;
  }
/* End Footer */


/* Responsive */

/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar {
        background-color: white;
        height: 74px;
    }

    .navbar-toggler{
        border: none;
    }

    .navbar-nav {
        display: flex;
        position: fixed;
        top: 1;
        right: 0;
        text-align: left;
        /* height: 80%; */
        padding-bottom: 200px;
        row-gap: 40px;
        width: 70%;
        background-color: white;
        transition: all 0.5s ease-in-out;
        justify-content: space-between;
        align-items: start;
        padding-left: 20px;
    }
    
    
    .navbar-brand strong{
        color: #274094;
        font-size: 1.7rem;
        
    }

    .navbar-brand {
        font-size: 1.7rem;
        color: #da3d35;
    }
    
    .navbar {
        padding: 0.8rem 1rem;
    }

    .nav-link {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    .login-link{
        visibility: visible;
        opacity: 1;
        color: red;
        text-align: left;
        padding: 0px 0px;
    }

    .login{
        visibility: hidden;
    }

    .btn-login{
        color: black;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    /* Responsive Header and Video Background */
    .video-background-container {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    #video-background {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        background-size: cover;
    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5); 
        color: #fff;
        text-align: center;
    }

    .video-overlay .content {
        max-width: 800px;
        padding: 20px;
    }

    .video-overlay .content h1{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 3.7rem;
        text-align: center;
    }

    .video-overlay .content p{
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
    }

    .btn-seejobs{
        text-decoration: none;
        color: blue;
        background-color: #fcb711;
        padding: 7px 12px;
        text-align: center;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 0 0 #ccc;
    }

}
/* Responsive Video Overlay */
@media (max-width: 768px) {
    
    /* Carousel */
    .carousel-title h2{
        font-size: 1.6rem;
        padding: 0px 20px;
        color: #2d3c88;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }

    .carousel {
        padding-bottom: 0px;
    }

    .carousel-inner{
        height: 300px;
    }

    .carousel-indicators {
        position: absolute;
        left: 40%;
        transform: translateX(-64%);
        background-color: transparent;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 50px;
        height: 50px; 
        border-radius: 50%; 
        background-color: rgba(0, 0, 0, 0.5); 
        border: none;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        position: absolute;
        top: 63%; 
        z-index: 1;
        
    }
    .carousel-indicators .isi button{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: none;
        transition: background-color 0.3s ease;
        background-color: black;
    }
    
    /* Introducing Section */
    .introducing-section {
        background-color: white;
        color: #333;
        padding: 45px 15px;
    }

    .container .introducing-title h2 {
        font-size: 1.7rem;
        font-weight: 600;
        padding-top: 10px;
        color: #274094;
        font-family: 'Poppins', sans-serif;
    }

    .introducing-content {
        margin: auto;
        width: 100%;
        max-width: 1200px;
    }

    .introducing-content h3 {
        color: #274094;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }

    .introducing-content p {
        font-size: 13px;
        color: #333;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
}


@media (max-width: 768px) {
  
/* Job Section */
.job-section {
    background-color: white;
    color: #333;
    padding: 50px 20px;
}

.job-title h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #274094;
    font-family: 'Roboto', sans-serif;
}

.content-header {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 50px;
    margin-bottom: 20px;
}

.content-header input[type="text"],
.select-job,
.select-joblevel,
.btn-jobsearch {
    width: 100%;
    height: 45px;
    padding: 10px;
}

}

@media (max-width: 768px) {
    .content-header {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    
    .btn-jobsearch {
        width: 100%;
        margin-top: 10px;
        border: 2px solid black;
    }
}

.job-content {
    padding: 20px 0;
}

.table {
    width: 100%;
    color: #000;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    
}

.list-job .list-job-title a {
    width: 100%;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-job-title i {
    font-size: 1.2rem;
    padding: 7px 12px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}

.table .list-job:hover {
    box-shadow: 
    0.9px 1px 0 0 #333, 
    1.5px 0px 0 0 #444, 
    7.5px 8px 0 0 #aaa, 
    8.5px 9px 0 0 #bbb, 
    9.5px 10px 0 0 #ccc;
}

.list-job:hover .list-job-title i {
    visibility: visible;
    opacity: 1;
    color: white;
    font-size: 34px;
}

@media (max-width: 768px) {
    .list-job-title i {
        font-size: 1rem;
    }
    
    .table th, .table td {
        padding: 5px;
    }


    /* Footer */

.footer {
    background-color: white;
    padding: 0px 50px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .socialmedia-footer{
    display: grid;
    justify-content:center;
    text-align: center;
    align-items: center;
  }

  .socialmedia-footer .social-icons {
    color: #007bff;
    display: inline-block;
    margin: 0 5px;
    font-size: 25px;
  }
  
  .social-icons i:hover {
    color: #da3d35;
  }
  
  .detikcom {
    font-size: 40px;
    font-weight: bold;
    color: #274094;
  }
  
  .detikcom span {
    color: #da3d35;
  }

  .footer p{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    
  }

  .footer p a{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display:inline;
    margin: 0px 5px;
  }
}

